body {
  color:black;
  background-color:white;
  background-image:url(images/balloongirl2.jpg);
  background-repeat:no-repeat;
  font-family: 'Yanone Kaffeesatz', arial, serif; 
}

.red {color:red; margin-left:200px;}

form#url button {
-moz-border-radius:20px 20px 20px 20px;
background:none repeat scroll 0 0 red;
border:medium none;
color:#FFFFFF;
font: 'Yanone Kaffeesatz', arial, serif;
letter-spacing:1px;
margin:auto;
padding:5px 5px;
text-shadow:0 1px 1px #000000;
}

input, textarea, .date {
-moz-border-radius:5px 5px 5px 5px;
background:none repeat scroll 0 0 #FFFFFF;
border:2px solid #EAE1C0;
}

form :focus {
border: 2px solid red;
outline: medium none;
-moz-box-shadow: none;
}

#topnav {
height:34px;
}

#topnav .topnav-wrapper {
height:34px;
position:relative;
width:800px;
}

#topnav li {
display:inline;
}

#topnav ul {
height:20px;
margin:0 auto;
overflow:hidden;
padding-top:7px;
width:590px;
}

#topnav ul a {
background-position:-120px 0;
margin-left:50px;
width:95px;
}

a {
color:black;
text-decoration:none;
}
a:hover {
color:red;
}
